<!-- GET envia dados pela url - não muito seguro-->
<!-- POST-->
<form action="/add" method="POST">
  <p> Título: </p>
  <input type="text" name="titulo">
  <p> Conteúdo: </p>
  <textarea name="conteudo"></textarea>
  <p><button type="submit">Cadastrar Post</button></p>
</form>
